@import "tailwindcss";
.mermaid-container {
    background-color: white;
    color: black;
    overflow-x: auto;
  }
  
  @keyframes slideInUp {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  .animate-slideInUp {
    animation: slideInUp 0.3s ease-out;
  }
  